<div id="login-home" class="container">
	<h1>Login</h1>
	<div id="auth-form-enc">
			<form id="login-form" action="/login" method="post">
				<div class="login-info">
					<label for="username">Username:</label>
					<input type="text" id="username" name="username" required><br>
					<label for="password">Password:</label>
					<input type="password" id="password" name="password" required><br>
				</div>
				<div class="login-button">
					<input type="submit" value="Login">
					<button type="button" onclick="location.href='#'">Forgot password?</button>
					<button type="button" onclick="getRegisterView()"> Register</button>
				</div>
			</form>
		</div>
</div>
