<div id="main">
	<div id="login-home" class="container">
		<h1>Login</h1>
		<div id="auth-form-enc">
				<form id="login-form" action="/auth/login" method="post">
					<div class="login-info">
						<label for="username">Username:</label>
						<input type="text" id="username" name="username" required><br>
						<label for="password">Password:</label>
						<input type="password" id="password" name="password" required><br>
					</div>
					<div class="login-button">
						<button id="login_button" type="button" onclick="loginUser()">Login</button>
						<button type="button" onclick="location.href='#'">Forgot password?</button>
						<button id="register_button" type="button" onclick="getRegisterView()"> Register</button>
					</div>
				</form>
			</div>
	</div>
</div>
