<div id="main">
	<button id="index_button" style="display: block;">Back to login</button>
	<div id="pong_game">
		<button id="button_start_game">Start game</button>
		<canvas id="pong_canvas"></canvas>
	</div>
	<button id="reset_button" style="display: none;">Reset</button>
	<script><%- script %></script>
</div>
