<div id="main">
	<button id="index_button" style="display: block;" onclick="logout()">Logout</button>
	<div id="pong_game">
		<button id="button_start_game" onclick="start_button_handler()">Start game</button>
		<canvas id="pong_canvas"></canvas>
	</div>
	<button id="reset_button" style="display: none;" onclick="reset_button_handler()">Reset</button>
</div>
